* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cbcbcb;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.profile {
  background-color: #fafafa;
  border-radius: 8px;
  height: 400px;
  margin: 60px 0;
  width: 300px;
}

.description {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  margin-top: 35px;

  &__avatar {
    background-color: rgb(125, 31, 31);
    border-radius: 50%;
    border: 1px solid;
    margin-bottom: 24px;
    overflow: hidden;
    width: 120px;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__tag,
  &__location {
    color: #c3c3c3;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

.stats {
  background-color: rgb(181, 181, 185);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  height: 65px;
  list-style: none;
  width: 100%;

  > li {
    align-items: center;
    border-right: 1px solid rgb(157, 157, 157);
    border-top: 1px solid rgb(157, 157, 157);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    &:last-child {
      border-right: none;
    }
  }

  &__label {
    color: #929292;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  &__quantity {
    font-size: 16px;
    font-weight: 700;
  }
}

.statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 8px;

  &__title {
    font-size: 30px;
    margin-bottom: 18px;
  }

  &__stat-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 70px;
    justify-content: center;
    width: 100%;
    min-width: 100px;
    &:first-child {
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-bottom-right-radius: 8px;
    }
  }
}
