.transaction-history {
  border: 1px solid;
  width: 400px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.transaction-history thead tr {
  background-color: #f0f0f0;
}

.transaction-history thead th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.transaction-history tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction-history tbody tr:hover {
  background-color: #d3e0ea;
}

.transaction-history tbody td {
  padding: 10px;
}
