.friends__list {
  list-style: none;
}

.friends__list__item {
  align-items: center;
  background-color: #fafafa;
  border-radius: 8px;
  display: flex;
  margin: 28px 0;
  padding: 15px;
}

.friends__list__itemIsOnline {
  width: 25px;
  height: 25px;
  background-color: #ff0000;
  border-radius: 50%;
}

.friends__list__itemAvatar {
  width: 100px;
  margin-left: 16px;
}

.friends__list__itemName {
  font-size: 24px;
  font-weight: 700;
  margin-left: 12px;
}
